.desktop {
  display: none;
  visibility: hidden;
}
body {
  background: #88b9b5;
  color: #17242a;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  /* width: 100vw; */
  /* height: 100vh; */

  justify-content: space-between;
}
.nav-bar-mobile {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;
  background: #edeee8;
}
.nav-bar-mobile__container_list {
  display: flex;
  gap: 0.8rem;
}

.nav-bar-mobile-footer {
  background: #edeee8;
  padding: 1rem;
}
.nav-bar-mobile-footer__container-list {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
}

.main__container-list {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-galerie__img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.card-galerie {
  width: 300px;
  background-color: #edeee8;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-galerie h2 {
  padding: 1rem;
}
.container-card-galerie {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.container-main-galerie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}
.container-main-galerie input {
  border: none;
  width: 90%;
  height: 2rem;
  border-radius: 8px;
  background-color: #edeee8;
}
.main__list {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #edeee8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.main-galerie__container-list {
  display: flex;
}
.main-galerie__list {
  /* margin-right: 3rem; */
  width: 5rem;
  display: flex;
  justify-content: center;
}
.container-detail {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background: #edeee8;
  border-radius: 8px;
}
.img {
  width: 100%;
}
.container-cross {
  text-align: end;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.container-description {
  padding: 1rem;
}
.description__title {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.description__container-detail p {
  margin-bottom: 1rem;
}
.container-description h2 {
  margin-bottom: 1rem;
}
.description {
  border: 1px solid #17242a;
  padding: 0.5rem;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .desktop {
    display: block;
    visibility: visible;
    font-size: 1.5rem;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #edeee8;
  }
  .nav-bar__container-list {
    display: flex;
    gap: 1rem;
  }
  .mobile {
    display: none;
  }
  .container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-card {
    display: flex;
    flex-direction: row;
  }
  .card {
    height: 70vh;
    width: 30vw;
  }
  .nav-bar-footer__container-list {
    display: flex;
    justify-content: space-around;
    background: #edeee8;
    padding: 1rem;
  }

  .container-main__title {
    padding-bottom: 1.8rem;
    font-size: 8rem;
  }
  .container-card-galerie {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container-detail {
    padding: 2rem;
    flex-direction: row;
  }
  .container-cross {
    padding: 0rem;
  }
  .container-img {
    width: 4000px;
  }
  .img {
    border-radius: 8px;
  }
}
